APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change-me-please
APP_TIMEZONE=America/Argentina/Buenos_Aires
CORS_ALLOW_ORIGIN=http://localhost:4200

DATABASE_URL="mysql://nexoshop:nexoshop@db:3306/nexoshop_api?serverVersion=8.0.36&charset=utf8mb4"
